

.slick-list {
        overflow: hidden;
        padding: 0 0px;
}
.slick-track {
        display: flex;
        align-items: flex-start;
}

.clients__background {
        background-color: #eeeeee;
        padding: 95px 0;
}

.clients__slider-logo {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
}
.clients__slider-image {
        padding: 0 0 20px 0;
}
.clients__slider-image:hover {
        filter: brightness(1%);
        transform: scale(1.03);
}



.clients__slider {
        position: relative;
        padding: 0 50px;
        max-width: 1200px;
        margin: 0 auto;
}

.clients__slider .slick-dots {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0 0 0 0;
}
.clients__slider .slick-dots li {
        list-style: none;
        margin: 0px 10px;
}
.clients__slider .slick-dots button {
        font-size: 0;
        width: 13px;
        height: 13px;
        background-color: #dddddd;
        border-radius: 50%;
        outline: none;
}
.clients__slider .slick-dots li.slick-active button {
        background-color: #c0301c;
}
.clients__slider-item {
  /* opacity: .4; */
        text-align: center;
        display: flex;
        flex-direction: column;
        padding: 0 50px;
}
.clients__slider-txt {
        font-size: 16px;
        font-family: "Roboto Slab";
        color: rgb(85, 85, 85);
        text-align: center;
        font-style: italic;
        padding: 50px 0 45px 0;
        line-height: 30px;
}

.clients__slider-name {
        font-size: 18px;
        font-family: "Roboto Slab";
        color: rgb(85, 85, 85);
        text-align: center;
        padding: 0 0 45px 0;
}



.about-us__slider-container {
        max-width: 1180px;
        margin: 0 auto;
}
.about-us__slider {
        padding: 0;
        position: relative;
        display: flex;
        margin: 0 18px;
}
.about-us__slider .slick-slide {
        margin: 0 17px;
}
.about-us__slider-image {
        width: 248px;
        position: relative;
}
.about-us__slider-item {
        position: relative;
}
.about-us__slider .slick-arrow.slick-prev {
        left: 0px;
        background: url('Left.png') 0 0 / 100% no-repeat;
        filter: opacity(50%);
}
.about-us__slider .slick-arrow.slick-next {
        right: 0px;
        background: url('Right.png') 0 0 / 100% no-repeat;
        filter: opacity(50%);
}
.about-us__slider .slick-arrow.slick-prev:hover {
        left: 0px;
        background: url('Left-hover.png') 0 0 / 100% no-repeat;
        filter: opacity(100%);
}
.about-us__slider .slick-arrow.slick-next:hover {
        right: 0px;
        background: url('Right-hover.png') 0 0 / 100% no-repeat;
        filter: opacity(100%);
}
.about-us__slider .slick-arrow {
        position: absolute;
        top: 50%;
        margin: -50px 0 0 0;
        color: #000;
        font-size: 0;
        height: 38px;
        width: 35px;
        z-index: 100;
        outline: none;
        transition: .3s;
}
@media (max-width:530px) {
        .about-us__slider .slick-arrow.slick-prev {
        background: url('Left-mobile.png') 0 0 / 100% no-repeat;
        }
        .about-us__slider .slick-arrow.slick-prev:hover {
                background: url('Left-mobile-hover.png') 0 0 / 100% no-repeat;
                filter: opacity(80%);
        }
        .about-us__slider .slick-arrow.slick-next {
                background: url('Right-mobile.png') 0 0 / 100% no-repeat;
                }
                .about-us__slider .slick-arrow.slick-next:hover {
                        background: url('Right-mobile-hover.png') 0 0 / 100% no-repeat;
                        filter: opacity(80%);
                }
        .about-us__slider .slick-arrow {
        position: absolute;
        top: 50%;
        margin: -70px 0 0 0;
        color: #000;
        font-size: 0;
        height: 74px;
        width: 35px;
        z-index: 100;
        outline: none;
        transition: .3s;
        }
        }
.about-us__slider .slick-dots {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0 0 0 0;
}
.about-us__slider .slick-dots li {
        list-style: none;
        margin: 0px 10px;
}
.about-us__slider .slick-dots button {
        font-size: 0;
        width: 13px;
        height: 13px;
        background-color: #dddddd;
        border-radius: 50%;
        outline: none;
}
.about-us__slider .slick-dots li.slick-active button {
        background-color: #c0301c;
}
.about-us__slider-title {
        padding: 20px 0 0 0;
        font-size: 14px;
        font-family: "Montserrat";
        color: rgb(85, 85, 85);
        text-transform: uppercase;
        line-height: 1.714;
        text-align: center;
}
.about-us__slider-subtitle {
        font-size: 13px;
        font-family: "Roboto Slab";
        color: rgb(85, 85, 85);
        line-height: 1.846;
        text-align: center;
}



.slider__image-overlay {
        position: absolute;
        transition: all 0.3s ease;
        opacity: 0;
}
.slider__image-overlay:hover {
        opacity: 1;
}

.slider__icons {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate( -50%, -50%);
        z-index: 1001;
        margin: 70px 0 0 0;
        color: #fff;
        font-size: 16px;
        width: 125px;
        display: flex;
        justify-content: space-between;
}
.slider-icon {
        width: 29px;
        height: 29px;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: .3s;
}
.slider-icon:hover {
        background: #c0301c;
}
.overlayFade {
        width: 100%;
        height: 78.1%;
        top: 0;
        left: 0;
        background-color: #0000004f;
}